@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {

  height: 100vh;
}
body {
  background: rgb(51, 204, 209);
}
.center {
  display: flex;
  justify-content: center;
 align-items: center;
}
.box,
.prompt_box {
  
  width: 500px;
  height: 400px;
  background: rgb(167, 173, 228);
  flex-direction: column;
  border-radius: 50px;
  box-shadow: 0 0 20px black;
} 
.box :is(h1, p, form) {     /* .box classına sahip div içindeki h1 p ve form etiketlerine müdahele ediyoruz */
  margin: 8px;
  font-family: "Open Sans", sans-serif;
}
.box h1 {
  font-family: "Roboto", sans-serif;
}
form {
  flex-direction: column;
}
form input {
  margin-bottom: 8px;
  width: 350px;
  height: 40px;
  border: none;
  outline: none;
  border-bottom: 1px solid #00000073;
  box-shadow: 0 0 5px black;
}
.btn {
  width: 150px;
  height: 35px;
  font-size: 1.1rem;
  outline: none;
  border: none;
  cursor: pointer;
  background: #0c0c0c;
  color: #fff;
  box-shadow: 0 0 5px black;
}
.prompt_box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Open Sans", sans-serif;
}
.prompt_box h1 {
  margin-bottom: 10px;
}
.active {                       /* Sonradan oyun sonu ekranına eklenen class */
  display: flex;
  background-color: red;
}
